.navbar {
    font-size: 1rem;

    .navbar-nav {
        color: $black-clr;
        padding: 0 1.25rem;
        @include transition;

        .nav-link {
            @extend .navbar-nav;

            &:hover,
            &:active {
                color: $coral-clr;
            }
        }

        i {
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 0 .438rem;
            @include transition;

            &:hover,
            &:active {
                color: $coral-clr;
            }
        }
    }

    // for mobile menu

    .navbar-toggler {
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
}

#home {
    align-items: flex-start;
    background: url('../assets/images/back.jpg') no-repeat center 4rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;

    span {
        color: $coral-clr;
    }

    button {
        @include custom_button;
    }
}

