// colors
$white-clr: #ffffff;
$black-clr: #000000;
$earie-black: #1d1d1d;
$light-silver: #D8D8D8;
$coral-clr: #ff7f50;
$black-olive: #33353A;

// fonts || font-family
$poppins-font-family: 'Poppins';
