*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./variables";

body {
    font-family: 'emoji';
    background-color: $black-clr;
    color: $white-clr;
}
