*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./variables";
@import './mixins';

body {
    font-family: $poppins-font-family, sans-serif;
}

@import './navbar';

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    color: $earie-black;
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    color: $light-silver;
}

// global styles for buttona and link buttons
.btn {
    @include custom_button;
}

// details section
#details {

    .wrapper {
        cursor: pointer;
        overflow: hidden;

        .details {
            align-items: start;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &:hover {
            .details {
                background-color: rgba(245, 178, 178, .7);
                color: $white-clr;

                a {
                    color: $white-clr;
                }
            }
        }

        &:nth-child(2) {
            .details {
                align-items: center;
            }
        }

        &:nth-child(3) {
            .details {
                align-items: end;
            }
        }
    }

    .details {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        @include transition;
        width: 100%;

        h2 {
            margin: 1rem;
        }

        .btn {
            background-color: transparent;
            border-bottom: 1px solid;
            border-radius: 0;
            color: $details-btn;
            font-weight: 500;
            font-size: 0.8rem;
            margin: 0 1rem 0;
            padding: .3rem;

            &:hover {
                background-color: $coral-clr;
                color: $white-clr;
                border-radius: 0.2rem;
                @include transition;
                padding: .5rem;
            }
        }
    }

}